<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_48.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_48.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_48.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_48.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.20256150031367942"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00019586792053591238" ixy="-1.8089342623776867e-08" ixz="-1.5705624032916525e-08" iyy="0.00019586746484572952" iyz="-1.594700083805596e-08" izz="6.555313867539196e-05"/>     </inertial>   </link>  </robot>