<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_92.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_92.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_92.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_92.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6716889485894052"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.001254576335547886" ixy="-6.656940272408862e-08" ixz="-7.98505892079985e-08" iyy="0.0012545749557658782" iyz="-4.253620434876924e-08" izz="0.0005341177620708854"/>     </inertial>   </link>  </robot>