<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_49.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_49.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_49.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_49.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.24733609948251864"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00021300135619742202" ixy="-4.256196464274017e-09" ixz="1.9540590628341456e-08" iyy="0.00021300099584090003" iyz="1.9104066382045338e-08" izz="0.00010740774388938595"/>     </inertial>   </link>  </robot>