<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_85.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_85.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_85.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_85.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.26787741130035736"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00041364262331659526" ixy="-2.0613689187379605e-08" ixz="2.0445011475788747e-09" iyy="0.0004136433215314" iyz="-8.129813547000162e-10" izz="9.051488917104584e-05"/>     </inertial>   </link>  </robot>