<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_72.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_72.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_72.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_72.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.31388708731225995"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00023415638999868822" ixy="1.9006538388075862e-08" ixz="-1.0002283272783801e-08" iyy="0.00023416099077577788" iyz="-4.46422154482468e-08" izz="0.00024182600281318423"/>     </inertial>   </link>  </robot>