<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_87.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_87.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_87.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_87.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5308350513542518"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0007361218630981492" ixy="-1.399376351371663e-07" ixz="8.216767356125416e-08" iyy="0.0007361209862823553" iyz="6.37511066015371e-08" izz="0.000414771984787826"/>     </inertial>   </link>  </robot>