<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_68.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_68.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_68.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_68.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6323210207087342"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.001173702208325334" ixy="-2.306737109215379e-09" ixz="-5.037823826822876e-08" iyy="0.0011736981345648958" iyz="-4.8331165615992946e-08" izz="0.00047559718865947966"/>     </inertial>   </link>  </robot>