<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_27.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_27.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_27.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_27.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2659462642875075"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022846946416202045" ixy="-3.0701228034199557e-09" ixz="-7.568936756410652e-09" iyy="0.00022846943230330692" iyz="-5.965610590745396e-09" izz="0.00013030506442374235"/>     </inertial>   </link>  </robot>