<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_3.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_3.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_3.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_3.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3930755772135575"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00026050439435181937" ixy="2.2072008937838026e-08" ixz="1.1778570518151637e-06" iyy="0.0002604956463799311" iyz="-1.7388409824393809e-07" izz="0.00022613348691486048"/>     </inertial>   </link>  </robot>