<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_69.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_69.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_69.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_69.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.26391132032306835"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000258240975128186" ixy="2.8594091525350044e-08" ixz="1.138581495956769e-07" iyy="0.00025823874829919365" iyz="1.0201017748367384e-07" izz="0.00011836434897068111"/>     </inertial>   </link>  </robot>