<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_29.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_29.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_29.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_29.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2693992822700532"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00038211970243381065" ixy="-9.05833900700098e-09" ixz="-3.5999308053572064e-08" iyy="0.00038212123379851323" iyz="-3.987929286502052e-08" izz="9.474542622495046e-05"/>     </inertial>   </link>  </robot>