<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_79.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_79.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_79.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_79.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3188592191983041"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000231254753448036" ixy="-1.5709291591415293e-09" ixz="-2.3279107970050238e-09" iyy="0.0002312579901942455" iyz="-2.94087724298046e-10" izz="0.00025288446151661175"/>     </inertial>   </link>  </robot>