<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_94.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_94.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_94.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_94.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.23672328228414818"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00037260474501415054" ixy="5.925962665718232e-09" ixz="-5.069968591173729e-10" iyy="0.00037260436150430665" iyz="-4.738939912233572e-10" izz="6.969041531492606e-05"/>     </inertial>   </link>  </robot>