<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_71.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_71.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_71.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_71.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.1678584641670872"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00014841217294271646" ixy="2.4621425719221134e-09" ixz="-3.7877481597879404e-08" iyy="0.00014841257336052865" iyz="-3.476414605691864e-08" izz="4.7281672326053646e-05"/>     </inertial>   </link>  </robot>