<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_35.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_35.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_35.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_35.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.18028848399615863"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00011790945616089688" ixy="-3.1330292206358688e-09" ixz="3.364948702626204e-09" iyy="0.00011790964547384024" iyz="5.2704938026993605e-09" izz="6.891393728142395e-05"/>     </inertial>   </link>  </robot>