<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_15.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_15.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_15.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_15.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.1420378421655132"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00014299129134512397" ixy="-2.2542255301817565e-09" ixz="1.571676929548183e-08" iyy="0.0001429912639229726" iyz="7.931689015394119e-09" izz="3.084147876911575e-05"/>     </inertial>   </link>  </robot>