<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_50.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_50.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_50.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_50.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3578730713149512"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00039322656624731617" ixy="-2.3814886179103434e-08" ixz="1.67354985649282e-09" iyy="0.0003932256913843735" iyz="-6.49119999717697e-09" izz="0.00020526175639278907"/>     </inertial>   </link>  </robot>