<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_19.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_19.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_19.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_19.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3266261786592681"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00025208923086471986" ixy="-4.070520748165995e-08" ixz="5.143123349771419e-08" iyy="0.0002520854123971168" iyz="-3.4182988265684317e-08" izz="0.00025113834389616364"/>     </inertial>   </link>  </robot>