<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_65.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_65.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_65.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_65.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.31779368351319826"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00036094706441935405" ixy="-5.369839528867501e-09" ixz="-1.772897817791224e-08" iyy="0.0003609468645591948" iyz="-1.5231669974499975e-08" izz="0.0001533914543919762"/>     </inertial>   </link>  </robot>