<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_73.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_73.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_73.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_73.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.15033315471481695"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="8.178964601087942e-05" ixy="-3.502329119332938e-08" ixz="4.6160437829414074e-08" iyy="8.178597802986761e-05" iyz="4.847425837927925e-08" izz="5.576123121899251e-05"/>     </inertial>   </link>  </robot>