<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_56.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_56.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_56.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_56.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.14560801891195682"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00012016625850281186" ixy="-1.66883985757695e-09" ixz="-3.426560462826321e-08" iyy="0.00012016654740116075" iyz="-2.990564541569031e-08" izz="3.7038468527157243e-05"/>     </inertial>   </link>  </robot>