<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_33.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_33.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_33.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_33.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4088882666845511"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0007279188649166944" ixy="4.861918837534098e-09" ixz="-3.937478823500484e-08" iyy="0.000727918741135964" iyz="-3.529175092355287e-08" izz="0.00019503382956510717"/>     </inertial>   </link>  </robot>