<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_34.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_34.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_34.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_34.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.24359355385287357"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00015222013204750192" ixy="-5.8529476888162935e-08" ixz="1.484285374154988e-08" iyy="0.00015222004468936856" iyz="1.5524206464092442e-08" izz="0.00015391295932349694"/>     </inertial>   </link>  </robot>