<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_64.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_64.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_64.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_64.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.24146539697070185"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00015882936218166474" ixy="-3.939605020822779e-08" ixz="1.6939513695625674e-08" iyy="0.00015882880840602023" iyz="7.902271192053475e-09" izz="0.00013458850206604295"/>     </inertial>   </link>  </robot>