<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_82.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_82.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_82.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_82.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.22049569787425485"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00019301271925355483" ixy="-5.473834786764303e-09" ixz="1.2835122728718078e-08" iyy="0.0001930127151190207" iyz="1.3928439982695744e-08" izz="8.498698328883945e-05"/>     </inertial>   </link>  </robot>