<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_60.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_60.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_60.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_60.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.26970953548210996"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00030361987290000644" ixy="-3.205851289751048e-08" ixz="-3.739499438697699e-09" iyy="0.00030362065655175204" iyz="-6.581783822487051e-09" izz="0.00010942026571742437"/>     </inertial>   </link>  </robot>