<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_5.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_5.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_5.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_5.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.40228015223360214"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00046168849324077697" ixy="-6.363963858229168e-08" ixz="-1.8167354569109907e-08" iyy="0.00046168880085723586" iyz="-1.4270793241420367e-08" izz="0.00025736475175997274"/>     </inertial>   </link>  </robot>