<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_93.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_93.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_93.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_93.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5305589763157378"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0009227182282626991" ixy="1.054688341840124e-09" ixz="-1.4533150088451856e-08" iyy="0.0009227178327865238" iyz="-6.188332392801312e-09" izz="0.0003353019590793706"/>     </inertial>   </link>  </robot>