<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_26.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_26.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_26.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_26.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.21939911023577685"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00012914987368930217" ixy="4.0590737252114225e-09" ixz="1.8344850953952528e-08" iyy="0.00012915116758578022" iyz="1.4627798860933847e-08" izz="0.00012424521125977312"/>     </inertial>   </link>  </robot>