<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_84.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_84.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_84.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_84.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6459811685651178"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.001079578837545022" ixy="1.838146426018049e-08" ixz="-5.7662404940644594e-08" iyy="0.0010795747184019393" iyz="-3.4292589876481026e-08" izz="0.0005316277073885657"/>     </inertial>   </link>  </robot>