<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_2.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_2.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_2.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_2.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.17185986629988936"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="8.595978167646866e-05" ixy="-3.195324840736588e-09" ixz="-8.280180256713349e-08" iyy="8.595985577276562e-05" iyz="-5.333486150083916e-09" izz="4.477725133793836e-05"/>     </inertial>   </link>  </robot>