<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_42.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_42.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_42.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_42.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.1746274676513224"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00010223642351248198" ixy="-1.9103396399199557e-09" ixz="4.864639522132928e-09" iyy="0.00010223592042345616" iyz="3.1368409889549257e-09" izz="6.879836479380336e-05"/>     </inertial>   </link>  </robot>