<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_74.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_74.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_74.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_74.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2789705597115798"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022287270872350584" ixy="-2.597678016171065e-08" ixz="5.142106299984909e-08" iyy="0.0002228732910819831" iyz="3.71307662510514e-08" izz="0.00015319482309491034"/>     </inertial>   </link>  </robot>