<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_18.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_18.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_18.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_18.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.48125629209812737"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00041554855726390057" ixy="-3.2650825779016814e-09" ixz="1.6235578399531126e-07" iyy="0.00041555248577644925" iyz="-1.4852933198345883e-07" izz="0.0002780024905941534"/>     </inertial>   </link>  </robot>