<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_75.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_75.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_75.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_75.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3039719277622057"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00032520155302454847" ixy="-1.77254852290475e-08" ixz="2.019231439187999e-10" iyy="0.0003252016751024254" iyz="2.1995512111777444e-09" izz="0.0001455756887437929"/>     </inertial>   </link>  </robot>