<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_../../meshes/cylinders/cylinder_31.stl">   <link name="cylinder_../../meshes/cylinders/cylinder_31.stl">     <visual>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_31.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/cylinders/cylinder_31.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.12054714505551122"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="3.391275922154766e-05" ixy="-1.3945871254566106e-08" ixz="2.5296423254599697e-08" iyy="3.391336161856691e-05" iyz="5.453831807560519e-10" izz="3.733963643996452e-05"/>     </inertial>   </link>  </robot>