<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_37">   <link name="cylinder_box_37">     <visual>       <geometry>         <mesh filename="../meshes/box/box_37.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_37.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6164647719089089"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000719645600469634" ixy="2.0993352913949173e-07" ixz="-2.3011529306175518e-07" iyy="0.0006959252140291988" iyz="2.3370405308533398e-07" izz="0.0008396095297152797"/>     </inertial>   </link>  </robot>