<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_62">   <link name="cylinder_box_62">     <visual>       <geometry>         <mesh filename="../meshes/box/box_62.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_62.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2559832535777272"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00014944597933568663" ixy="-5.204411912342447e-07" ixz="4.6231753951452136e-08" iyy="0.00017625505852182806" iyz="2.490552655624594e-08" izz="0.00020168162019359813"/>     </inertial>   </link>  </robot>