<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_7">   <link name="cylinder_box_7">     <visual>       <geometry>         <mesh filename="../meshes/box/box_7.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_7.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.38512312514527025"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0003656861016745991" ixy="7.04142114496954e-09" ixz="-9.960855715385644e-08" iyy="0.00037716371058640706" iyz="4.084960921407019e-09" izz="0.00029404357375586814"/>     </inertial>   </link>  </robot>