<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_82">   <link name="cylinder_box_82">     <visual>       <geometry>         <mesh filename="../meshes/box/box_82.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_82.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.37827551884993754"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00042826861040986034" ixy="-2.8099818326715145e-07" ixz="-1.9498777390190718e-07" iyy="0.0004066380709092682" iyz="-4.903769144531491e-09" izz="0.0002461863215509497"/>     </inertial>   </link>  </robot>