<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_72">   <link name="cylinder_box_72">     <visual>       <geometry>         <mesh filename="../meshes/box/box_72.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_72.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3168331747100221"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00026568847525066275" ixy="-3.484862828483272e-08" ixz="-1.7622941584985047e-09" iyy="0.00020189932937988273" iyz="-4.038351045244164e-10" izz="0.0003288390899398892"/>     </inertial>   </link>  </robot>