<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_45">   <link name="cylinder_box_45">     <visual>       <geometry>         <mesh filename="../meshes/box/box_45.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_45.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.25476329184347574"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00021799120532508488" ixy="8.334950279768286e-08" ixz="7.369123851190427e-08" iyy="0.00023400610760739533" iyz="-1.4169038944207697e-08" izz="0.0001221117714752236"/>     </inertial>   </link>  </robot>