<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_36">   <link name="cylinder_box_36">     <visual>       <geometry>         <mesh filename="../meshes/box/box_36.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_36.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3971546364852265"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00033847804229208934" ixy="-2.2266600196229523e-07" ixz="-1.6846890799430486e-08" iyy="0.00040006853869163747" iyz="-1.949871867746857e-07" izz="0.0003393622211120128"/>     </inertial>   </link>  </robot>