<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_94">   <link name="cylinder_box_94">     <visual>       <geometry>         <mesh filename="../meshes/box/box_94.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_94.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.41303420558724824"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00033451218008189354" ixy="1.0505753655720884e-08" ixz="5.477109053146783e-09" iyy="0.0004184477667710638" iyz="3.843639384709788e-08" izz="0.0004066554895285681"/>     </inertial>   </link>  </robot>