<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_49">   <link name="cylinder_box_49">     <visual>       <geometry>         <mesh filename="../meshes/box/box_49.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_49.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5655601411641934"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000795585003250882" ixy="-3.910186785737718e-09" ixz="-4.36609492888599e-08" iyy="0.0006077894783919031" iyz="-1.0250354042521313e-08" izz="0.0006039147700897967"/>     </inertial>   </link>  </robot>