<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_60">   <link name="cylinder_box_60">     <visual>       <geometry>         <mesh filename="../meshes/box/box_60.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_60.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.19391476419983178"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00012509058445748914" ixy="5.0215565482651106e-09" ixz="-8.321779152024282e-10" iyy="9.032093749028626e-05" iyz="4.590654611621595e-09" izz="0.00011809554475340177"/>     </inertial>   </link>  </robot>