<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_46">   <link name="cylinder_box_46">     <visual>       <geometry>         <mesh filename="../meshes/box/box_46.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_46.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2590095539070821"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00016900030530817416" ixy="6.957459292107348e-09" ixz="5.248051638282419e-09" iyy="0.00020330415635421293" iyz="-5.839335204038256e-08" izz="0.00016275651054311973"/>     </inertial>   </link>  </robot>