<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_57">   <link name="cylinder_box_57">     <visual>       <geometry>         <mesh filename="../meshes/box/box_57.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_57.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.4175580735312027"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00042215066972000215" ixy="-3.4071626466585974e-07" ixz="-4.367284936584901e-08" iyy="0.0003188616120518689" iyz="-1.423410157225227e-07" izz="0.0005132620129802124"/>     </inertial>   </link>  </robot>