<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_66">   <link name="cylinder_box_66">     <visual>       <geometry>         <mesh filename="../meshes/box/box_66.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_66.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.251808461577685"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00016945926860087343" ixy="-1.231785025851901e-07" ixz="-2.0681354407885174e-08" iyy="0.0001744087047446754" iyz="-6.014875984700243e-08" izz="0.00015621653817672149"/>     </inertial>   </link>  </robot>