<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_85">   <link name="cylinder_box_85">     <visual>       <geometry>         <mesh filename="../meshes/box/box_85.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_85.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.48410641182246766"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00046911394848823636" ixy="-2.460175413234589e-08" ixz="-1.0029612163271426e-07" iyy="0.0005931991378483752" iyz="-3.7052373096599895e-08" izz="0.0004672235479113962"/>     </inertial>   </link>  </robot>