<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_77">   <link name="cylinder_box_77">     <visual>       <geometry>         <mesh filename="../meshes/box/box_77.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_77.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3004828015575889"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00021822404738146262" ixy="1.1157838856378808e-07" ixz="-2.0869352646266563e-07" iyy="0.000291301365558536" iyz="1.7719555115378252e-08" izz="0.00020419026835961132"/>     </inertial>   </link>  </robot>