<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_96">   <link name="cylinder_box_96">     <visual>       <geometry>         <mesh filename="../meshes/box/box_96.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_96.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3193615230173326"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00026795561062633525" ixy="-2.0492782967512724e-08" ixz="-1.0900029465470893e-07" iyy="0.0003123998504595968" iyz="1.742661753091713e-08" izz="0.0002060480153269649"/>     </inertial>   </link>  </robot>