<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_16">   <link name="cylinder_box_16">     <visual>       <geometry>         <mesh filename="../meshes/box/box_16.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_16.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.39705284744565955"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00031805900180001666" ixy="-2.6527691986768997e-08" ixz="1.0360673953753295e-07" iyy="0.00036064086183954555" iyz="6.500911537970077e-09" izz="0.0004871342848033949"/>     </inertial>   </link>  </robot>