<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_61">   <link name="cylinder_box_61">     <visual>       <geometry>         <mesh filename="../meshes/box/box_61.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_61.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3026994921639196"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00016521085887224633" ixy="1.7307138589968875e-07" ixz="-1.3868105734210903e-07" iyy="0.0002855557224132363" iyz="-7.81178544635181e-09" izz="0.0003215748433654205"/>     </inertial>   </link>  </robot>