<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_11">   <link name="cylinder_box_11">     <visual>       <geometry>         <mesh filename="../meshes/box/box_11.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_11.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5867432688499244"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0007001385687995914" ixy="2.414470544352449e-07" ixz="1.3927763364346528e-07" iyy="0.000599063548114002" iyz="-2.48955032942652e-07" izz="0.0008417203958204592"/>     </inertial>   </link>  </robot>