<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_35">   <link name="cylinder_box_35">     <visual>       <geometry>         <mesh filename="../meshes/box/box_35.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_35.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2676655940971884"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00014483153611648348" ixy="-5.966630525728808e-08" ixz="5.396896385840242e-09" iyy="0.00021530905173091055" iyz="-1.8023005332187595e-08" izz="0.00023120800323744062"/>     </inertial>   </link>  </robot>