<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_39">   <link name="cylinder_box_39">     <visual>       <geometry>         <mesh filename="../meshes/box/box_39.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_39.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.278041281780661"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00021509226470492227" ixy="3.736159743786602e-09" ixz="-9.974604758112222e-08" iyy="0.00025172336592632665" iyz="5.012599593943057e-09" izz="0.0001625734452839069"/>     </inertial>   </link>  </robot>