<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_73">   <link name="cylinder_box_73">     <visual>       <geometry>         <mesh filename="../meshes/box/box_73.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_73.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.35364879322581183"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00032434108039276543" ixy="3.6379991550800094e-08" ixz="-1.0273913947481384e-07" iyy="0.0003007261724720754" iyz="3.3956932434283774e-08" izz="0.0002634451748535969"/>     </inertial>   </link>  </robot>