<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_95">   <link name="cylinder_box_95">     <visual>       <geometry>         <mesh filename="../meshes/box/box_95.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_95.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3891922170969527"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00034111348747592745" ixy="-3.113655388380452e-08" ixz="8.446236286810998e-08" iyy="0.00030885661151364586" iyz="9.084608592762285e-08" izz="0.0004449585278590683"/>     </inertial>   </link>  </robot>