<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_17">   <link name="cylinder_box_17">     <visual>       <geometry>         <mesh filename="../meshes/box/box_17.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_17.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3275702270073566"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00028874804117780576" ixy="-1.0748683882636319e-08" ixz="-1.3937524285585757e-08" iyy="0.0003154143848461779" iyz="-5.539884452143891e-08" izz="0.00020964043863965943"/>     </inertial>   </link>  </robot>