<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_26">   <link name="cylinder_box_26">     <visual>       <geometry>         <mesh filename="../meshes/box/box_26.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_26.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.23916238369322182"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00022602000454214727" ixy="-3.493154727381259e-08" ixz="-1.0582732315115038e-08" iyy="0.0001010641450210392" iyz="-9.12442994571088e-08" izz="0.0002251099603545399"/>     </inertial>   </link>  </robot>