<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_81">   <link name="cylinder_box_81">     <visual>       <geometry>         <mesh filename="../meshes/box/box_81.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_81.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6532746968563689"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.000728564763046755" ixy="3.216904721040868e-08" ixz="-1.3767069323692405e-07" iyy="0.0008911418745840416" iyz="6.3497138817243985e-09" izz="0.0008687998156556207"/>     </inertial>   </link>  </robot>