<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_54">   <link name="cylinder_box_54">     <visual>       <geometry>         <mesh filename="../meshes/box/box_54.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_54.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.42706238366759425"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0005677577094699612" ixy="1.2061774783943197e-08" ixz="-8.475591186236444e-08" iyy="0.00041663716441984485" iyz="-7.975570981391569e-08" izz="0.0003545973220035708"/>     </inertial>   </link>  </robot>