<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_87">   <link name="cylinder_box_87">     <visual>       <geometry>         <mesh filename="../meshes/box/box_87.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_87.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.23903576278883065"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00015526560037446558" ixy="-3.1801259249832045e-08" ixz="-3.1479542477605775e-08" iyy="0.00017666343324431046" iyz="5.7231872741971285e-09" izz="0.00013562383713418603"/>     </inertial>   </link>  </robot>