<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_58">   <link name="cylinder_box_58">     <visual>       <geometry>         <mesh filename="../meshes/box/box_58.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_58.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.47678953759463144"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00042942120195948037" ixy="8.642423145493413e-08" ixz="3.452157099758492e-07" iyy="0.0005466057679616858" iyz="2.466333058452462e-08" izz="0.0005011446515363634"/>     </inertial>   </link>  </robot>