<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_29">   <link name="cylinder_box_29">     <visual>       <geometry>         <mesh filename="../meshes/box/box_29.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_29.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2990212068425535"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00028520041138379004" ixy="4.073181128357358e-08" ixz="-4.391135022108764e-09" iyy="0.00016178535340746297" iyz="-4.167532826403963e-08" izz="0.00028736461819971025"/>     </inertial>   </link>  </robot>