<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_28">   <link name="cylinder_box_28">     <visual>       <geometry>         <mesh filename="../meshes/box/box_28.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_28.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.3915488751549863"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00030707783309643293" ixy="2.9508602528086117e-08" ixz="8.93551000952242e-08" iyy="0.00040542804436927984" iyz="-1.2851446042608328e-07" izz="0.00035546024446486013"/>     </inertial>   </link>  </robot>