<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_15">   <link name="cylinder_box_15">     <visual>       <geometry>         <mesh filename="../meshes/box/box_15.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_15.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.24572240543759466"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00018721959536315285" ixy="5.038444505820705e-09" ixz="-6.130630245222665e-09" iyy="0.0001524544090979618" iyz="-9.52358535894807e-08" izz="0.00015186571002279153"/>     </inertial>   </link>  </robot>