<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_40">   <link name="cylinder_box_40">     <visual>       <geometry>         <mesh filename="../meshes/box/box_40.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_40.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.20734656900452583"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0001457376380096107" ixy="1.982592462830244e-09" ixz="8.023892108763927e-08" iyy="0.0001388565453310778" iyz="2.339823893287177e-08" izz="9.60603990722375e-05"/>     </inertial>   </link>  </robot>