<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_48">   <link name="cylinder_box_48">     <visual>       <geometry>         <mesh filename="../meshes/box/box_48.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_48.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.36190880031957323"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00038177952074471905" ixy="2.0115683996260027e-07" ixz="-5.7505874944619545e-08" iyy="0.00024914179288401585" iyz="3.0836965058643935e-09" izz="0.00033639567824232506"/>     </inertial>   </link>  </robot>