<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_92">   <link name="cylinder_box_92">     <visual>       <geometry>         <mesh filename="../meshes/box/box_92.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_92.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.19369473489957065"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="9.228661444731165e-05" ixy="-1.4451660731889758e-08" ixz="5.973170486690336e-09" iyy="0.00011299833409925914" iyz="9.09712655020902e-08" izz="0.00012582617820921645"/>     </inertial>   </link>  </robot>