<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_21">   <link name="cylinder_box_21">     <visual>       <geometry>         <mesh filename="../meshes/box/box_21.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_21.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.6148653014864299"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0008593910092736023" ixy="-3.568696678010167e-07" ixz="6.082544060515539e-07" iyy="0.0007219144231913841" iyz="3.5663843009377684e-07" izz="0.0006804106674486792"/>     </inertial>   </link>  </robot>