<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_33">   <link name="cylinder_box_33">     <visual>       <geometry>         <mesh filename="../meshes/box/box_33.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_33.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2567412177391463"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00016562040363519477" ixy="-5.686020181423128e-08" ixz="6.78298162869009e-09" iyy="0.00020372082674042203" iyz="5.828152694407481e-09" izz="0.00016073299466065846"/>     </inertial>   </link>  </robot>