<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_4">   <link name="cylinder_box_4">     <visual>       <geometry>         <mesh filename="../meshes/box/box_4.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_4.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.25139636415039135"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00011190525784375957" ixy="-7.097622095350988e-08" ixz="-9.820482027042811e-08" iyy="0.00023851165622374747" iyz="-1.244895043445311e-08" izz="0.00023995009240757186"/>     </inertial>   </link>  </robot>