<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_69">   <link name="cylinder_box_69">     <visual>       <geometry>         <mesh filename="../meshes/box/box_69.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_69.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.5119299871264952"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.0004984118046572801" ixy="3.323509840234488e-07" ixz="1.9195524996624725e-08" iyy="0.0005280550529042566" iyz="-6.091447820470368e-08" izz="0.0007004978078427542"/>     </inertial>   </link>  </robot>