<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_90">   <link name="cylinder_box_90">     <visual>       <geometry>         <mesh filename="../meshes/box/box_90.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_90.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.30987296663827674"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00021421613749989413" ixy="1.352807222861351e-07" ixz="-1.7608568791431937e-07" iyy="0.0003201953363610261" iyz="3.323023990471374e-07" izz="0.00023400984884588193"/>     </inertial>   </link>  </robot>