<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_65">   <link name="cylinder_box_65">     <visual>       <geometry>         <mesh filename="../meshes/box/box_65.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_65.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.2520035405311205"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00015594740340507847" ixy="-8.775051430039852e-09" ixz="-1.5202739771243295e-08" iyy="0.00017217609657860027" iyz="-8.522102451395351e-08" izz="0.00017250092665365666"/>     </inertial>   </link>  </robot>