<?xml version="1.0" encoding="utf-8"?>  <robot name="cylinder_box_70">   <link name="cylinder_box_70">     <visual>       <geometry>         <mesh filename="../meshes/box/box_70.stl" scale="1 1 1"/>       </geometry>     </visual>     <collision>       <geometry>         <mesh filename="../meshes/box/box_70.stl" scale="1 1 1"/>       </geometry>     </collision>     <inertial>        <origin         xyz="0 0 0"         rpy="0 0 0" />       <mass value="0.30530478191298505"/>       <origin rpy="0 0 0" xyz="0 0 0"/>       <inertia ixx="0.00020708348102137637" ixy="2.335824518948594e-08" ixz="2.887645974176828e-07" iyy="0.0002296059590555858" iyz="-4.946100386933542e-08" izz="0.0002653371304652788"/>     </inertial>   </link>  </robot>